*{
    margin:0;
    padding:0;
}
/* identificador Css, solo se aplica una vez */
#main-title{
    color: #f72585;
    text-align: center;
    margin: 15px
}
h2{
    color: #3f37c9;
}
p{
    color:#457b9d;
}
/* Css Class*/
.my-card{
    border:10px solid #560bad;
    background-color: #f1faee;
    text-align: center;
    margin: 10px 115px;
    padding: 15px;
}
.title-one{
    color: #f72585
}